body {
    background-color: #89B886;
    text-align: center;
    font-family: monospace;
    margin: 0;
}
/*need to push down top margin*/

h1 {
    color: #475e45;
}

h2 {
    color:#475e45;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

header {
    background-color: #f7cdde;
    padding: .5em;
    font-size: 15px;
}

nav {
    float: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 80px;
    padding-top: 25px;

    position: relative;
}

nav a {
    color: #807c8a;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
}

nav a:hover {
    color: #323036;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #323036;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 200ms;
}

nav a:hover::before {
    width: 100%;
}

.listleft {
    font-size: larger;
    text-align: left;
    color: #475e45;
    width: 800px;
    background: #69a465;
    padding: 25px;
}

tr:hover {background-color: #d5d4d9;}

table {
    font-family: monospace;
    border-collapse: separate;
    width: 100%;
    align-items: center;
    padding: 100px;
    padding-right: 200px;
    
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 30px;
  }

  td {
      width: 60px;
  }

  td + td {
      width: auto;
  }

.images {
      border-style: double;
      border-width: 10px;
      margin-left: 400px;
      margin-right: 400px;
      margin-bottom: 60px;
      background-color: whitesmoke;
  }

.footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: pink;
      color: #807c8a;
      text-align: center;
      text-transform: capitalize;
  }

.homebasetext p{
      padding-left: 500px;
      padding-right: 500px;
      padding-top: 100px;
      text-align: left;
      margin-bottom: 50px;
  }

#coopevent1 {
    font-family: monospace;
    font-size: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 60px;
  }