body {
    background-color: #AAd2ba;
    text-align: center;
    font-family: monospace;
    margin: 0;
}

h1 {
    color: #6b8f71;
}

h2 {
    color:#6b8f71;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

header {
    background-color: #d9fff5;
    padding: .5em;
    font-size: 15px;
}

nav {
    float: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 80px;
    padding-top: 25px;

    position: relative;
}

nav a {
    color: #807c8a;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
}

nav a:hover {
    color: #323036;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #323036;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 200ms;
}

nav a:hover::before {
    width: 100%;
}

.listleft {
    padding-top: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-align: left;
    color: #475e45;
    width: 70%;
    padding-left: 250px;
    padding-bottom: 100px;
    letter-spacing: 2px;
    padding-right: 200px;
    word-wrap: normal;
}

tr:hover {background-color: #d5d4d9;}

table {
    font-family: monospace;
    border-collapse: separate;
    width: 60%;
    align-content: center;
    padding-right: 200px;
    padding-left: 500px;
    margin-left: 200px;
    
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 30px;
  }

  td {
      width: 60px;
  }

  td + td {
      width: auto;
  }

.images {
      border-style: double;
      border-width: 10px;
      margin-left: 400px;
      margin-right: 400px;
      margin-bottom: 60px;
      background-color: whitesmoke;
  }

.footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #d9fff5;
      color: #1d1e18;
      text-align: center;
      text-transform: capitalize;
      padding-bottom: 10px;
      font-size: 15px;
  }

.homebasetext p{
      padding-left: 500px;
      padding-right: 500px;
      padding-top: 100px;
      text-align: center;
      margin-bottom: 50px;
  }

#coopevent1 {
    font-family: monospace;
    font-size: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 60px;
  }

.starwars {
    background-color:#b9f5d8;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    letter-spacing: 2px;
    padding: 50px;
    margin-left: 420px;
    margin-right: 420px;
    font-size: 22px;
    color: #1d1e18;
    font-weight: 700px;
}

#selector {
    width:30%;
    height:30%;
}

